{% extends "page.html" %}

{% if announcement_spawn %}
  {% set announcement = announcement_spawn %}
{% endif %}

{% block main %}
<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: calc(100vh - 80px);
    }
    
    .form-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
    }
</style>

<div class="container centered-content">
    {% block heading %}
    <div class="row">
        <h1 class="text-center">Server Options</h1>
    </div>
    {% endblock %}
  
    <div class="row form-container">
        {% if for_user and user.name != for_user.name -%}
        <p class="text-center">Spawning server for {{ for_user.name }}</p>
        {% endif -%}
        {% if error_message -%}
        <p class="text-center spawn-error-msg text-danger">
            Error: {{error_message}}
        </p>
        {% endif %}
        
        <form enctype="multipart/form-data" class="col-sm-8" id="spawn_form" action="{{url}}" method="post" role="form" onsubmit="return validateForm()">
            {{spawner_options_form | safe}}
            <br>
      <div class="feedback-container">
        <div class="container">
            <div class="row mt-4">
                <div class="col text-center">
        <input type="submit" value="Start" class="btn btn-warning">
                </div>
            </div>
        </div>
        <div class="feedback-widget hidden">
          <i class="fa fa-spinner"></i>
        </div>
      </div>
        </form>

     
    </div> 
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script>
    $('form').submit((e) => {
      var form = $(e.target);
      
       // Check if project is selected and CPU or GPU profile is chosen
      var cpuProject = form.find('select[name="profile-option-cpu-project"]');
      var cpuProfile = form.find('input[name="profile"]:radio[value="cpu"]');
      var gpuProfile = form.find('input[name="profile"]:radio[value="gpu"]');
      if ((cpuProfile.is(':checked') && cpuProject.val() === '----') ||
          (gpuProfile.is(':checked') && cpuProject.val() === '----')) {
        e.preventDefault();  // prevent form submission
        alert('Please select a project.');
        return;
      }
      form.find('.feedback-container>input').attr('disabled', true);
      form.find('.feedback-container>*').toggleClass('hidden');
      form.find('.feedback-widget>*').toggleClass('fa-pulse');
    });
</script>
{% endblock %}
